<article>
  <h1>TASKLIST</h1>
  <section>

    <h3>YOUR TASKS</h3>

    <ol>
      <% @tasks.each do |task| %>
        <li>
          <%= link_to task.action, task_path(task.id) %><br>
          <%= link_to "Delete", delete_task_path(task.id), data: { confirm: "Are you sure?"} %>
        </li>
      <% end %>
    </ol>

    <%= link_to "Add a task", new_task_path %>

  </section>
</article>
