<article>
  <h1>TASKLIST</h1>
  <section>

    <h3>YOUR TASKS</h3>

    <ol>
      <% @tasks.each do |task| %>
        <li>
          <%= task.action %>
          <!-- <p>Description: <%= task.description %></p>
          <p>Date to be completed: <%= task.completion_date %></p> -->
        </li>
      <% end %>
    </ol>

  </section>
</article>
